.conteneur-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: RGBa(120, 150, 240, 1);
}

.element-flex {
  flex: 0 1 20%;
  background-color: RGBa(120, 240, 150, 0.7);
  height: 50px;
  margin: 10px;
}
@media screen and (max-width: 780px) {
  .conteneur-flex {
    flex-flow: column wrap;
  }
}
